body {
    background-size: cover; /* 背景图片的尺寸 覆盖 */
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* 使用全高 */
    margin: 0;
    padding-top: 150px; /* 距离顶部 150px */
    padding-bottom: 200px; /* 增加底部的填充距离，以确保不会被进度条覆盖 */
    text-align: center;
    color: purple;
    box-sizing: border-box;
}

.button-container {
    margin: 20px;
    width: 100%; /* 确保容器占满可用宽度 */
    flex: 1; /* 使按钮容器占据剩余空间 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* 确保按钮容器从顶部开始排列 */
}

.button {
    background-color: rgba(80, 13, 235, 0.7); /* 使用更深的背景颜色 */
    border: none;
    color: white; /* 将文字颜色改为白色以便在深色背景上更清晰 */
    padding: 20px 40px; /* 增加按钮的填充以放大 */
    text-align: center;
    text-decoration: none;
    display: block; /* 将按钮设置为块级元素 */
    font-size: 24px; /* 增加字体大小 */
    font-family: 'Arial Black', sans-serif; /* 使用艺术字字体 */
    cursor: pointer;
    border-radius: 10px; /* 增加按钮的圆角 */
    margin: 20px auto; /* 将按钮居中 */
    width: 250px; /* 增加按钮的宽度 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    transition: transform 0.3s; /* 添加变换效果 */
}

.button:hover {
    transform: scale(1.1); /* 鼠标悬停时放大按钮 */
}

.back-button {
    position: fixed;
    bottom: 50px; /* 将按钮上移以避开进度条 */
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000; /* 确保按钮在最上层 */
}

#control-panel {
    position: fixed;
    bottom: 20px;
    left: 20px; /* 放置在左下角 */
    width: 300px; /* 缩小宽度 */
    text-align: center;
    background-color: transparent; /* 背景透明 */
    padding: 10px;
    box-shadow: none; /* 移除阴影 */
    z-index: 500; /* 确保控制面板位于返回按钮之下 */
}

#audio-player {
    width: 100%; /* 调整播放器宽度以适应父容器 */
    background: transparent; /* 确保播放器背景透明 */
    box-shadow: none; /* 移除阴影 */
}

.bottom-spacer {
    height: 100px; /* 添加的空白填充高度 */
    flex-shrink: 0;
}
